$color-gray: #636363;
$color-grayer: rgba(1, 1, 2, 0.5);
$color-pink: rgba(239, 162, 169, 0.44);
$font-size: 20em;
@mixin btn-theme {
   background-color: white;
   color: $color-pink;
   border: none;
   padding: 0.625em 1.25em;
   border-radius: 0.625em;
}
@mixin how-we-work-btn {
  background-color: rgba(255, 173, 180, 0.7);
  border: none;
  border-radius: 0.3125em;
  color: white;
  height: 2.5em;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: $color-grayer;
    opacity: 0.8;
  }
}
@mixin btn-shop-now-theme {
   background-color: rgba(255, 173, 180, 0.43);
   border: none;
   border-radius: 8px;
   color: white;
   width: 9.375em;
   height: 2.5em;
   text-transform: uppercase;
  &:hover {
    background-color: $color-gray;
    opacity: 0.8;
    cursor: pointer;
  }
  }
@mixin form-controller {
  width: 10%;
  background-color: white;
  border: none;
  border-radius: 0.625em;
  color: $color-pink;
  text-transform: uppercase
}
@mixin black-bg-theme {
  position: absolute;
  width: 100%;
  height: 100%;;
  background-color: #00000052;
  display: none;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}