@import "./_config.scss";

.pink {
@include btn-theme;
}
header{
  .nav:hover {
    color: $color-pink;
    }
  p, .logo {
    color: $color-gray;
    padding-left: 5em;
    width: 100%;
    }
  .icons {
    position: relative;
    .icon-div {
      position: absolute;
      bottom: 42%;
      }
  }
  .nav-link {
    color: $color-gray;
    }
  .language-options {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.7em;
  .languages {
    color: $color-grayer;
    }
  .languages:nth-child(3) {
    font-weight: bolder;
    }
  .languages:nth-child(4) {
    font-weight: bolder;
    }
  }
}
.slider-block{
  position: relative;
  .carousel-controller {
      list-style: none;
      display: inline;
      position: absolute;
      bottom: 5%;
      left: 45%;
        li {
           display: inline-block;
           padding-right: 1em;
           cursor: pointer;
          &:before, &:after {
             display: none;
          }
        }
      }
    .slider-block-container{
      position: absolute;
      top: 55%;
      left: 16%;
      color: white;
        h2{
          font-size: 3em;
          font-weight: bolder;
          }
        h5 {
          font-size: 1em;
          font-weight: bolder;
          }
      .btn-shop-now {
        @include btn-shop-now-theme;
      }
      }
    }
.options-block {
  padding-top: 3%;
  text-align: center;
  color: $color-grayer;
  text-transform: capitalize;
  .option-name{
    padding-bottom: 0.7em;
  }
  > a {
    display: block;
    position: relative;

  }
  .black-bg {
 @include black-bg-theme
  }
  a:hover {
    .black-bg {
      display: block;
    }
  }
  a:hover .icon-cart {
    opacity: 1;
    color: $color-pink;
  }
  a:hover .icon-heart {
    opacity: 1;
    color: $color-pink;
  }
.icon-cart, .icon-heart {
  opacity: 0;
}
.options-container  {
  position: relative;
  div.cart-heart {
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      z-index: 2
  }
  img.perfect-fit {
    width: 100%;
  }
}
}
.search-by-block {
  margin-top: 3.125em;
  padding-top: 2.5em;
  background-color: $color-pink;
  .form-controller {
   @include form-controller
  }
  input::placeholder {
    color: $color-pink;
    font-weight: bolder;
  }
  .filter-btn-group {
    flex-wrap: wrap;
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto
  }
  .filter-btn-group-two {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    }
  .palette {
    .search-by {
      display: inline;
      color: gray;
      font-weight: bolder;
      font-size: 1.375em;
    }
    button {
      cursor: pointer;
      border: none;
      width: 1.25em;
      height: 1.25em;
      display: inline-block;
      border-radius: 50%;
    }
    button:nth-child(2) {
      background-color: red;
    }
    button:nth-child(3) {
      background-color: orange;
    }
    button:nth-child(4) {
      background-color: yellow;
    }
    button:nth-child(5) {
      background-color: green;
    }
    button:nth-child(6) {
      background-color: deeppink;
    }
    button:nth-child(7) {
      background-color: violet;
    }
    button:nth-child(8) {
      background-color: #0b2e13;
    }
    button:nth-child(9) {
      background-color: #0062cc;
    }

    button:nth-child(10) {
      background-color: green;
    }

    button:nth-child(11) {
      background-color: sandybrown;
    }

    button:nth-child(12) {
      background-color: black;
    }
  }
  }
.bouquet-block {
  display: flex;
  .btn-shop-now {
  @include btn-shop-now-theme
  }
  .sale::before {
    content: 'Sale';
    position: absolute;
    transform: rotate(55deg);
    right: -3%;
    top: 4%;
    font-size: 33px;
    color: white;
  }
  .image-container {
    display: block;
    position: relative;
     .roses {
      width: 100%;
    }
    &:hover {
      .cart-heart {
        i {
          opacity: 1;
        }
      }
      .black-bg {
        display: block;
      }
    }
    .black-bg {
      @include black-bg-theme
    }
    .cart-heart {
      position: absolute;
      bottom: 10%;
      right: 10%;
      z-index: 2
    }
    .fa-heart, .fa-shopping-cart {
      opacity: 0;
      color: white;
    }
  }
  .bouquet-pricing {
    position: relative;
    height: 50%;
    text-align: center;
  }
  .pricing-detailed {
    padding-top: 1.25em;
    h5, h6 {
      color: $color-grayer;
      font-weight: bolder;
    }
    button:hover {
      background-color: $color-grayer;
      opacity: 0.8;
    }
  }
}
.how-we-work {
  text-align: center;
  img {
    padding-bottom: 0.625em;
  }
  h4,h5{
    font-size: 2.5em;
    color: $color-grayer;
    font-weight: bolder;
  }
  h4 {
    text-transform: uppercase;
  }
  h5 {
  font-size: 1.25em;
  }
  }
.planning-block {
  .planning {
   position: relative;
    img {
    width: 100%;
  }
  div{
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: white;
    text-align: right;
    button {
      @include how-we-work-btn
    }
   }
  }
}
.gallery-block {
  margin: 0 auto;
  width: 100%;
  .gallery {
    text-align: center;
    color: $color-grayer;
    h4 {
      display: inline;
      font-weight: bold;
      font-size: 2.5em;
      }
    }
  .slider {
    position: relative;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    li {
      >a {
        color: grey;
        cursor: pointer;
      }
    }
    &:before {
      content: url("../images/.png");
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
    }
    &:after {
      content: url("../images/ (copy).png");
      cursor: pointer;
      position: absolute;
      bottom: 50%;
      right: 0;
      transform: translate(50%, 50%);
    }
  }
  }
footer {
  margin-top: 3.125em;
  padding-bottom: 3.125em;
  background-color: #4e555b;
  div{
    text-align: center;
  }
  .footer-nav {
    color: white;
    font-weight: bolder;
    font-size: 1.375em;
  }
  .footer-nav:hover {
    color: $color-pink;
  }
}