@charset "UTF-8";
.pink {
  background-color: white;
  color: rgba(239, 162, 169, 0.44);
  border: none;
  padding: 0.625em 1.25em;
  border-radius: 0.625em; }

header .nav:hover {
  color: rgba(239, 162, 169, 0.44); }
header p, header .logo {
  color: #636363;
  padding-left: 5em;
  width: 100%; }
header .icons {
  position: relative; }
  header .icons .icon-div {
    position: absolute;
    bottom: 42%; }
header .nav-link {
  color: #636363; }
header .language-options {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.7em; }
  header .language-options .languages {
    color: rgba(1, 1, 2, 0.5); }
  header .language-options .languages:nth-child(3) {
    font-weight: bolder; }
  header .language-options .languages:nth-child(4) {
    font-weight: bolder; }

.slider-block {
  position: relative; }
  .slider-block .carousel-controller {
    list-style: none;
    display: inline;
    position: absolute;
    bottom: 5%;
    left: 45%; }
    .slider-block .carousel-controller li {
      display: inline-block;
      padding-right: 1em;
      cursor: pointer; }
      .slider-block .carousel-controller li:before, .slider-block .carousel-controller li:after {
        display: none; }
  .slider-block .slider-block-container {
    position: absolute;
    top: 55%;
    left: 16%;
    color: white; }
    .slider-block .slider-block-container h2 {
      font-size: 3em;
      font-weight: bolder; }
    .slider-block .slider-block-container h5 {
      font-size: 1em;
      font-weight: bolder; }
    .slider-block .slider-block-container .btn-shop-now {
      background-color: rgba(255, 173, 180, 0.43);
      border: none;
      border-radius: 8px;
      color: white;
      width: 9.375em;
      height: 2.5em;
      text-transform: uppercase; }
      .slider-block .slider-block-container .btn-shop-now:hover {
        background-color: #636363;
        opacity: 0.8;
        cursor: pointer; }

.options-block {
  padding-top: 3%;
  text-align: center;
  color: rgba(1, 1, 2, 0.5);
  text-transform: capitalize; }
  .options-block .option-name {
    padding-bottom: 0.7em; }
  .options-block > a {
    display: block;
    position: relative; }
  .options-block .black-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000052;
    display: none;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
  .options-block a:hover .black-bg {
    display: block; }
  .options-block a:hover .icon-cart {
    opacity: 1;
    color: rgba(239, 162, 169, 0.44); }
  .options-block a:hover .icon-heart {
    opacity: 1;
    color: rgba(239, 162, 169, 0.44); }
  .options-block .icon-cart, .options-block .icon-heart {
    opacity: 0; }
  .options-block .options-container {
    position: relative; }
    .options-block .options-container div.cart-heart {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      z-index: 2; }
      .options-block .options-container div.cart-heart button {
        background-color: transparent;
        border: none;
        cursor: pointer; }
    .options-block .options-container img.perfect-fit {
      width: 100%; }

.search-by-block {
  margin-top: 3.125em;
  padding-top: 2.5em;
  background-color: rgba(239, 162, 169, 0.44); }
  .search-by-block .form-controller {
    width: 10%;
    background-color: white;
    border: none;
    border-radius: 0.625em;
    color: rgba(239, 162, 169, 0.44);
    text-transform: uppercase; }
  .search-by-block input::placeholder {
    color: rgba(239, 162, 169, 0.44);
    font-weight: bolder; }
  .search-by-block .filter-btn-group {
    flex-wrap: wrap;
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto; }
  .search-by-block .filter-btn-group-two {
    display: flex;
    justify-content: space-around;
    margin: 0 auto; }
  .search-by-block .palette .search-by {
    display: inline;
    color: gray;
    font-weight: bolder;
    font-size: 1.375em; }
  .search-by-block .palette button {
    cursor: pointer;
    border: none;
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    border-radius: 50%; }
  .search-by-block .palette button:nth-child(2) {
    background-color: red; }
  .search-by-block .palette button:nth-child(3) {
    background-color: orange; }
  .search-by-block .palette button:nth-child(4) {
    background-color: yellow; }
  .search-by-block .palette button:nth-child(5) {
    background-color: green; }
  .search-by-block .palette button:nth-child(6) {
    background-color: deeppink; }
  .search-by-block .palette button:nth-child(7) {
    background-color: violet; }
  .search-by-block .palette button:nth-child(8) {
    background-color: #0b2e13; }
  .search-by-block .palette button:nth-child(9) {
    background-color: #0062cc; }
  .search-by-block .palette button:nth-child(10) {
    background-color: green; }
  .search-by-block .palette button:nth-child(11) {
    background-color: sandybrown; }
  .search-by-block .palette button:nth-child(12) {
    background-color: black; }

.bouquet-block {
  display: flex; }
  .bouquet-block .btn-shop-now {
    background-color: rgba(255, 173, 180, 0.43);
    border: none;
    border-radius: 8px;
    color: white;
    width: 9.375em;
    height: 2.5em;
    text-transform: uppercase; }
    .bouquet-block .btn-shop-now:hover {
      background-color: #636363;
      opacity: 0.8;
      cursor: pointer; }
  .bouquet-block .sale::before {
    content: 'Sale';
    position: absolute;
    transform: rotate(55deg);
    right: -3%;
    top: 4%;
    font-size: 33px;
    color: white; }
  .bouquet-block .image-container {
    display: block;
    position: relative; }
    .bouquet-block .image-container .roses {
      width: 100%; }
    .bouquet-block .image-container:hover .cart-heart i {
      opacity: 1; }
    .bouquet-block .image-container:hover .black-bg {
      display: block; }
    .bouquet-block .image-container .black-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #00000052;
      display: none;
      z-index: 1;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }
    .bouquet-block .image-container .cart-heart {
      position: absolute;
      bottom: 10%;
      right: 10%;
      z-index: 2; }
    .bouquet-block .image-container .fa-heart, .bouquet-block .image-container .fa-shopping-cart {
      opacity: 0;
      color: white; }
  .bouquet-block .bouquet-pricing {
    position: relative;
    height: 50%;
    text-align: center; }
  .bouquet-block .pricing-detailed {
    padding-top: 1.25em; }
    .bouquet-block .pricing-detailed h5, .bouquet-block .pricing-detailed h6 {
      color: rgba(1, 1, 2, 0.5);
      font-weight: bolder; }
    .bouquet-block .pricing-detailed button:hover {
      background-color: rgba(1, 1, 2, 0.5);
      opacity: 0.8; }

.how-we-work {
  text-align: center; }
  .how-we-work img {
    padding-bottom: 0.625em; }
  .how-we-work h4, .how-we-work h5 {
    font-size: 2.5em;
    color: rgba(1, 1, 2, 0.5);
    font-weight: bolder; }
  .how-we-work h4 {
    text-transform: uppercase; }
  .how-we-work h5 {
    font-size: 1.25em; }

.planning-block .planning {
  position: relative; }
  .planning-block .planning img {
    width: 100%; }
  .planning-block .planning div {
    position: absolute;
    bottom: 10%;
    right: 10%;
    color: white;
    text-align: right; }
    .planning-block .planning div button {
      background-color: rgba(255, 173, 180, 0.7);
      border: none;
      border-radius: 0.3125em;
      color: white;
      height: 2.5em;
      text-transform: uppercase;
      cursor: pointer; }
      .planning-block .planning div button:hover {
        background-color: rgba(1, 1, 2, 0.5);
        opacity: 0.8; }

.gallery-block {
  margin: 0 auto;
  width: 100%; }
  .gallery-block .gallery {
    text-align: center;
    color: rgba(1, 1, 2, 0.5); }
    .gallery-block .gallery h4 {
      display: inline;
      font-weight: bold;
      font-size: 2.5em; }
  .gallery-block .slider {
    position: relative;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%; }
    .gallery-block .slider li > a {
      color: grey;
      cursor: pointer; }
    .gallery-block .slider:before {
      content: url("../images/.png");
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%); }
    .gallery-block .slider:after {
      content: url("../images/ (copy).png");
      cursor: pointer;
      position: absolute;
      bottom: 50%;
      right: 0;
      transform: translate(50%, 50%); }

footer {
  margin-top: 3.125em;
  padding-bottom: 3.125em;
  background-color: #4e555b; }
  footer div {
    text-align: center; }
  footer .footer-nav {
    color: white;
    font-weight: bolder;
    font-size: 1.375em; }
  footer .footer-nav:hover {
    color: rgba(239, 162, 169, 0.44); }

/*# sourceMappingURL=index.css.map */
